* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    
}
.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;

    position: relative; /* Required for z-index to work */
    z-index: 1;
}

.cell.under-attack {
    z-index: 10;
    box-shadow: 0 0 15px 8px rgba(255, 0, 0, 0.7);
}
.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}
.black {
    background-color: deepskyblue;
}
.white {
    background-color: #eed4ac;
}

.selected {
    background-color: brown;
}
.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightgray;
}

.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    text-align: center;
}


/*for MoveHistory */
.move-history {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 40px;
}

.moves-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.move {
    padding: 5px;
    border-radius: 3px;
}

.move.white {
    background-color: rgba(255, 255, 255, 0.2);
}

.move.black {
    background-color: rgba(0, 0, 0, 0.1);
}

.player {
    font-weight: bold;
}

.figure {
    color: #555;
}